@{
    ViewBag.Title = "NFireLogger";
}

@helper TestButton(string action) {
    <div class="test">
        <a class="btn btn-primary" data-action="@action" href="javascript:;">
            <i class="icon-play-circle icon-white"></i>
            Test this!
        </a>
    </div>
}

@{
    var isFirefox = Request.Browser.Browser.ToLower().Contains("firefox");
}

<div class="container">

    <div id="header" class="page-header">
        <h1>NFireLogger</h1>
        <p>
            <em>FireLogger server-side library for .net </em>
        </p>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#examples">Examples</a></li>
                    <li><a href="#log4net">Log4net</a></li>
                    <li><a href="#config">Configuration</a></li>
                    <li><a href="#setup">Manual Setup</a></li>
                </ul>
            </div>
        </div>
    </div>

    @* ==== About ========================================================== *@

    <div id="about" class="chapter">
        
        <div class="row">
            
            <div class="span6">
                <p>
                    <strong>NFireLogger</strong> is <em>.net</em> server-side library for <a href="http://firelogger.binaryage.com/">FireLogger</a>.
                </p>

                <div id="nuget">
                    <p>
                        It's available as <strong><a href="http://nuget.org">NuGet</a></strong> package:
                    </p>
                    <div class="well">
                        <a href="https://nuget.org/packages/NFireLogger">
                            PM> Install-Package NFireLogger 
                        </a>
                    </div>
                </div>

            </div>

            <div class="span6" id="screen">
                <a href="@Url.Content("~/Content/images/firelogger.png")">
                    <img src="@Url.Content("~/Content/images/firelogger_m.png")" width="435" height="162" alt="FireLogger" />
                </a>
            </div>
        
        
        </div>
        
        @if (!isFirefox)
        {
            <div class="alert alert-error">
                <strong>Sorry</strong>, FireLogger works only under Firefox. 
            </div>
        }

    </div>
    
    @* ==== Examples ======================================================= *@

    <div id="examples" class="chapter">

        <h2>Examples</h2>

        @if (NFireLogger.FLog.Current.Enabled == false && isFirefox)
        {
            <div class="alert alert-error">
                <strong>Watch out</strong>, before you run the tests you have to enable your FireLogger.
            </div>
        }
        
        <p>
            Some examples
        </p>

        <h3>Basic usage</h3>

        <p>
            Easiest way is to use static class <code>FLog</code>. There are 5 log levels.
        </p>

<pre>
FLog.Debug("DEBUG log level");
FLog.Info("INFO log level");
FLog.Error("ERROR log level");
FLog.Warning("WARNING level");
FLog.Critical("CRITICAL log level");
</pre>

        <p>
            Each has formatted version:
        </p>

<pre>
FLog.Info("Request from {0} arrived at {1}", Request.UserHostAddress, DateTime.Now);
</pre>

        @TestButton("basic")


        <h3>Named Logger</h3>

<pre>
var logger = FLog.GetLogger("MyLogger");

logger.Debug("This is logged as MyLogger");
logger.Warning("... and also this.");
</pre>

        @TestButton("named")


        <h3>Exception</h3>

        <p>
            There is method for exception logging. 
        </p>

<pre>
try
{
    DoSomething();
}
catch (Exception ex)
{
    FLog.Exception(ex);
}
</pre>

        @TestButton("exception")

    </div>


    @* ==== Config ======================================================= *@

    <div id="config" class="chapter">
        <h2>Log4net Support</h2>

        <p>
            There is <em>FireLogger</em> appender for <a href="http://logging.apache.org/log4net/">log4net</a>. 
        </p>

        <p>
            It's available also as NuGet package:
        </p>

        <div class="well nuget">
            <a href="https://nuget.org/packages/NFireLogger.Log4net">
                PM> Install-Package NFireLogger.Log4net
            </a>
        </div>

        <h3>Configuration</h3>

        <p>
            You have to add appender <code>NFireLogger.Log4net.FireLoggerAppender</code> to your log4net configuration. E.g.:
        </p>

<pre>
&lt;appender name="FireLogger" type="NFireLogger.Log4net.FireLoggerAppender, NFireLogger.Log4net"&gt;
    &lt;layout type="log4net.Layout.PatternLayout"&gt;
        &lt;conversionPattern value=%message" /&gt;
    &lt;/layout&gt;
&lt;/appender&gt;
</pre>

        <h3>Example</h3>

        <p>
            After that you can use log4net as usual
        </p>

<pre>
var l = LogManager.GetLogger("log4net");

l.Info("Info message from log4net");
l.DebugFormat("and debug message at {0}", DateTime.Now.ToShortTimeString());
</pre>

        @TestButton("log4net")

    </div>


    @* ==== Config ======================================================= *@

    <div id="config" class="chapter">
        <h2>Configuration</h2>

        <p>
            There are 2 configurations that can be put in <code>appSettings</code> section in <code>web.config</code>:
        </p>
    
        <dl>
            <dt>NFireLogger.Password</dt>
            <dd>Specify password for FireLogger authentication. <em>Default:</em> <code>""</code></dd>
            
            <dt>NFireLogger.Silent</dt>
            <dd>All internal errors of FireLogger are thrown away if this is set to <code>true</code>. Otherwise it's logged by standard Trace technique. <em>Default:</em> <code>true</code></dd>

            <dt>NFireLogger.LogFileInfo</dt>
            <dd>In every log there will be file name and line number information it this is set to <code>true</code>. <em>Default:</em> <code>true</code></dd>
        </dl>
    
<pre>
&lt;configuration&gt;
    &lt;appSettings&gt;
        &lt;add key="NFireLogger.Password" value="password" /&gt;
        &lt;add key="NFireLogger.Silent" value="true" /&gt;
        &lt;add key="NFireLogger.LogFileInfo" value="true" /&gt;
    &lt;/appSettings&gt;
&lt;/configuration&gt;
</pre>

    </div>

    @* ==== Manual Setup ======================================================= *@


    <div id="setup" class="chapter">
        <h2>Manual Setup</h2>

        <p>If you don’t want to use NuGet, here is manual setup:</p>

        <p>
            <span class="badge badge-info">1</span> Add reference for <code>NFireLogger.dll</code> to your project.
        </p>

        <p>
            <span class="badge badge-info">2</span> Add HttpModul <code>NFireLogger.FireLoggerHttpModule</code> to your <em>web.config</em>.
        </p>

        <p>
            For IIS7 in Integrated mode it looks like this:
        </p>
<pre>
&lt;system.webServer&gt;
    &lt;modules&gt;
        &lt;add name="FireLoggerHttpModule" type="NFireLogger.FireLoggerHttpModule"/&gt;
    &lt;/modules&gt;
&lt;/system.webServer&gt;
</pre>

        <p>
            For Standard mode or IIS6 look at documentation for server.
        </p>

        <p>
            <span class="badge badge-info">3</span> <strong>Done!</strong> Now you can use <code>FLog</code>.
        </p>

    </div>
    
    @* ==== Author ======================================================= *@

    <div id="footer">
        <a href="https://github.com/ah01/NFireLogger/tree/master/Demos/MvcDemo">source code</a> 
        &nbsp;&bull;&nbsp; 
        &copy; <a href="https://github.com/ah01">Adam Horcica</a>, 2012
    </div>

    
    <a href="https://github.com/ah01/NFireLogger/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
        
</div>
